@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--textSecondary: #b4bec5;
	--gradientMain: #075985;
	--gradientVia: #155e75;
	--gradientOff: #115e59;
	--bgHover: #1f1f1f;
	--hover: #1f1f1f;
	--imageBg: hsla(24, 10%, 10%, 0.3);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #ededed;
		--textSecondary: #a8a29e;
		--gradientMain: #075985;
		--gradientVia: #155e75;
		--gradientOff: #115e59;
		--bgHover: #1f1f1f;
		--hover: #bbbbbb;
		--imageBg: hsla(24, 10%, 10%, 0.3);
		--borderC: #2f2d2d;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
